@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');
@layer base {
	html {
		@apply bg-slate-50;
		font-family: 'Darumadrop One', cursive;
	}
	h1 {
		@apply text-xl sm:text-2xl md:text-4xl lg:text-5xl z-20 font-semibold text-white p-6 rounded-lg;
	}
	.topWall {
		border-top: 4px solid rgb(180, 6, 113);
	}
	.rightWall {
		border-right: 4px solid rgb(180, 6, 113);
	}
	.bottomWall {
		border-bottom: 4px solid rgb(180, 6, 113);
	}
	.leftWall {
		border-left: 4px solid rgb(180, 6, 113);
	}
	#maze {
		border-collapse: collapse;
	}
	#maze td {
		@apply h-[44px] md:h-[64px] lg:h-[100px] w-[44px] md:w-[64px] lg:w-[100px] bg-white;
	}
}

.currentPosition div {
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-image: url('./assets/run-busy.gif');
	background-size: cover;
	height: 100%;
	width: 100%;
}
.img1 div {
	background: url('./assets/img/image37.png');
	display: flex;
	margin-left: auto;
	margin-right: auto;
	background-size: contain;
	height: 100%;
	width: 100%;
}
.img2 div {
	background: url('./assets/img/image22.png');
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-size: contain;
	height: 90%;
	width: 90%;
}
.img3 div {
	background: url('./assets/img/image26.png');
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-size: contain;
	height: 90%;
	width: 90%;
}
.img4 div {
	background: url('./assets/img/image25.png');
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-size: contain;
	height: 90%;
	width: 90%;
}
.img5 div {
	background: url('./assets/img/image1.png');
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-size: contain;
	height: 90%;
	width: 90%;
}
.img6 div {
	background: url('./assets/img/image27.png');
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-size: contain;
	height: 90%;
	width: 90%;
}
.img7 div {
	background: url('./assets/img/image19.png');
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-size: contain;
	height: 90%;
	width: 90%;
}
.img8 div {
	background: url('./assets/img/image18.png');
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-size: contain;
	height: 90%;
	width: 90%;
}

.img9 div {
	background: url('./assets/img/image18.png');
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-size: contain;
	height: 90%;
	width: 90%;
}
.img10 div {
	background: url('./assets/img/image12.png');
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-size: contain;
	height: 90%;
	width: 90%;
}
.currentPosition.img1 div {
	background-image: url('./assets/icons8-party.gif');
}
.currentPosition.img2 div {
	background-image: url('./assets/icons8-party.gif');
}
.currentPosition.img3 div {
	background-image: url('./assets/icons8-party.gif');
}
.currentPosition.img4 div {
	background-image: url('./assets/icons8-party.gif');
}
.currentPosition.img5 div {
	background-image: url('./assets/icons8-party.gif');
}
.currentPosition.img6 div {
	background-image: url('./assets/icons8-party.gif');
}
.currentPosition.img7 div {
	background-image: url('./assets/icons8-party.gif');
}
.currentPosition.img8 div {
	background-image: url('./assets/icons8-party.gif');
}
.currentPosition.img9 div {
	background-image: url('./assets/icons8-party.gif');
}
.currentPosition.img10 div {
	background-image: url('./assets/icons8-party.gif');
}

.sol div {
	z-index: 0;
	height: 50%;
	width: 50%;
	border-radius: 50%;
	background: peachpuff;
}
.backgroundOne {
	background-image: url('./assets/ColoredShapes.svg');
	background-size: cover;
	-webkit-animation: animate 50s ease-in-out infinite;
	-moz-animation: animate 50s ease-in-out infinite;
	animation: animate 50s ease-in-out infinite;
}
.background-animate-longest {
	background-size: 400%;

	-webkit-animation: animate 15s ease-in-out infinite;
	-moz-animation: animate 15s ease-in-out infinite;
	animation: animate 15s ease-in-out infinite;
}
.background-animate-slowest {
	background-size: 120%;

	-webkit-animation: animate 50s ease-in-out infinite;
	-moz-animation: animate 50s ease-in-out infinite;
	animation: animate 50s ease-in-out infinite;
}
@keyframes animate {
	0%,
	100% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
}
